body {
  padding: 0px;
  margin: 0px;
  background-color: #f7faf6;
}

#html {
  color: $html;
}

#css {
  color: $css;
}

#Sass {
  color: $Sass;
}

#Bootstrap {
  color: $Bootstrap;
}

#Git {
  color: $Git;
}

#Github {
  color: $Github;
}

#JavaScript {
  color: $JavaScript;
}

#Vue {
  color: $Vue;
}




